$background-color1: #ff0000ff;
$background-color2: #ffff00ff;
$background-cookie-box: #ffffff;
$background-popup: #00000088;
$primary-color: #9c552e;
$secondary-color: #d57e4f;
$tertiary-color: #e7ccbe;
$font-color: #747474;
$font-color-contrast: #ffffff;